$primary: #081a68;
@import '~bulma/bulma';

:root {
    --color-a  : #{$primary};
    --color-b-1: #00000011;
    --color-b-2: #000000aa;
    --color-b  : #000000;
    --color-r  : #{$danger};
}
body {
    margin: 0;
    padding: 0;
    background: var(--primary);
}
body::-webkit-scrollbar {
    display: none;
}